* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
}
header {
  padding: 20px;
  margin-top: 50px;
  color: white;
}

h1 {
  display: flex;
  justify-content: center;
}
main {
  margin-left: 25%;
  margin-right: 25%;
}

main > section {
  border: solid 3px;
  border-radius: 5px;
  border-color: white;
  background-color: rgb(255, 255, 255);
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;

  position: relative;
}

p {
  background-color: rgb(255, 255, 255);
}

button {
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  border: solid 2px;
}
button:hover {
  background-color: rgba(255, 112, 112, 0.374);
}

.bookmark {
  height: 30;
  width: 30;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: -10%;
  right: 0%;
}
.bookmark2 {
  height: 30;
  width: 30;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: -10%;
  right: 0%;
}
